PORT=3000
NODE_ENV=development

# Cấu hình Supabase PostgreSQL Connection URL
DATABASE_URL="postgresql://postgres.xxx:your-password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"

# URL kết nối API cho Frontend
VITE_API_URL="/api"
